<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/website-list" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
                </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/page-new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/widget-list">
                Some blog post
            </a>
            <a href="#/page-edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            </li>
        <li class="list-group-item">
            <a href="#">
                Home page
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                About Page
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                product list
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
