<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/page-list" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
                </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/widget-chooser" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-heading">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify" ></span>
        </div>
        <h1>
            GIZMODO
        </h1>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-heading">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify" ></span>
        </div>
        <h4>
            Riders of SF's Tech Buses Would Prefer To Keep Their Commutes as Cushy as Possible
        </h4>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-image">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <img
                width="100%"
                src="https://i.kinja-img.com/gawker-media/image/upload/s--dPf9BUvW--/c_fit,fl_progressive,q_80,w_636/osnm3la8nbxpkxooowtz.jpg"/>

    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify" ></span>
        </div>
        <p class="first-text">San Francisco needs help. It also needs to decide where to put bus stops for the hundreds of shuttle buses that creep through its streets, gathering wizened, under-caffeinated developers for their journeys to jolly Mountain View. A survey that asked for such logistical input provided some additional—and perhaps unsolicited—insight into these private transit experiences.<br></p>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-heading">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify" ></span>
        </div>
        <h4>
            Tesla Model 3 is the best electric car in its range so far
        </h4>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-youtube">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify" ></span>
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/I4HC1TKuGak" frameborder="0" allowfullscreen></iframe>
    </div>



</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center ">
                <a href="#/profile" class="color-black">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href="#/profile" class="color-black">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>